* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

body{
    background-color: #0d0f12;
    overflow: hidden;
    color: aliceblue;
}
.header{
    height: 100vh;
}
#logo{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 15%;
}
form{
    width: 100%;
}
.form{
    padding: 0 5%;
}

input[type="text"] , input[type="password"]{
    background: #0d0f12;
}
.btn-primary{
    width: 100%;
}

.login-bg{
    position: relative;
    background-color: black;
    height: 100%;
    background-image: url("../Images/login-bg.png");
    
    background-repeat: no-repeat;
    background-size: cover;
    
}
.login-bg img{
    position: absolute;
    top: 30%;
    left: 10%;
}

/* not responsive for mobile dev */