* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.5px solid green; */
}

main {
    margin: 5% auto;
}

.head {
    margin-top: 5%;
}

.main {
    margin-top: 3%;
}

a {
    color: black;
}


.indv-c {
    margin: 1%;
    margin-left: 6%;
}